
.container {
    /* top bottom 0, left right auto */
    margin:50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1000px;
    border: 2px solid black;
    flex-wrap: wrap;
}
.card {
    background-color: white;
    box-shadow: inset 0 0 30px rgba(228, 40, 131, 0.5);
    border: 2px solid hotpink;
    width: 100px;
    text-align: center;
   
}
.header {
    background-color: blue;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100px;
}

.navbar {
    display: flex;
    flex-direction: row;
}
.nav {
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: green;
}
