#myDiv {
    font-size: 30px;
}
.title, .title2 {
    letter-spacing:1.2px;
    font-family: "Jersey 10"; 
  }

  .title {
      font-size:50px;
  }
#musicPlayer {
    margin-left: 20px;
}
.second {
    font-size: 40px;
}
.percentage {
    font-size: 30px;
    text-decoration: underline;


}

.zoomed-out {
    transform: scale(0.5); /* 50% of the original size */
    transform-origin: center center; /* Set the origin point of the scale */
    /* Optionally, add width and height for layout control */
    width: auto;
    height: auto;
}