#myDiv {
    font-size: 30px;
}
.title, .title2 {
    letter-spacing:1.2px;
    font-family: "Jersey 10"; 
  }

  .title {
      font-size:50px;
  }
#musicPlayer {
    margin-left: 20px;
}
.second {
    font-size: 40px;
}
.percentage {
    font-size: 30px;
    text-decoration: underline;


}
.pixel {
    width: 300px;
    height: 300px;
}